.month {
  padding: .75rem 1.25rem;
}

.month:hover {
  opacity: 0.8;
}

.month--level-0 {
  background-color: white;
}

.month--level-1 {
  background-color: gray;
}

.month--level-2 {
  background-color: cornflowerblue;
}

.month--level-3 {
  background-color: darkseagreen;
}

.month--level-4 {
  background-color: indianred;
}
